# DOWNLOAD A FILE FROM URL

Use `wget` command to download

In [1]:
import sys
from pathlib import Path

sys.path.append(str(Path(".").absolute().parent.parent))
# sys.path

In [2]:
from src.core.utils.data_download import Downloader

TARGET_URL = (
    "https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-09.parquet"
)

d = Downloader(TARGET_URL)
d.download_file()

Downloading URL: https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-09.parquet

## EDA with Pandas

In [6]:
import pandas as pd

df = pd.read_parquet("yellow_tripdata_2023-09.parquet", engine="fastparquet")

df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,1.0,2023-09-01 00:15:37,2023-09-01 00:20:21,1.0,0.80,1.0,N,163.0,230.0,2.0,6.5,3.5,0.5,0.00,0.0,1.0,11.50,2.5,0.00
1,2.0,2023-09-01 00:18:40,2023-09-01 00:30:28,2.0,2.34,1.0,N,236.0,233.0,1.0,14.2,1.0,0.5,2.00,0.0,1.0,21.20,2.5,0.00
2,2.0,2023-09-01 00:35:01,2023-09-01 00:39:04,1.0,1.62,1.0,N,162.0,236.0,1.0,8.6,1.0,0.5,2.00,0.0,1.0,15.60,2.5,0.00
3,2.0,2023-09-01 00:45:45,2023-09-01 00:47:37,1.0,0.74,1.0,N,141.0,229.0,1.0,5.1,1.0,0.5,1.00,0.0,1.0,11.10,2.5,0.00
4,2.0,2023-09-01 00:01:23,2023-09-01 00:38:05,1.0,9.85,1.0,N,138.0,230.0,1.0,45.0,6.0,0.5,17.02,0.0,1.0,73.77,2.5,1.75

In [7]:
df.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'Airport_fee'],
      dtype='object')

In [11]:
df.shape

(2846722, 19)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2846722 entries, 0 to 2846721
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               float64
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           float64
 8   DOLocationID           float64
 9   payment_type           float64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  Airport_fee            float64
dtypes: datetime64[us](2), float64(16), object(1)
memory usage: 412.7+ MB