# ETL DRAFT

1) Green taxi trips:
- September 2019: `wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz`
- Zones: `wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv`
2) Some EDA with Pandas to see everything goes ok.
3) Insert these pandas DataFrame into Postgres database (container)

In [ ]:
import sys
from pathlib import Path

sys.path.append(str(Path(".").absolute().parent.parent))
# sys.path

## DOWNLOAD A FILE FROM URL

Use `wget` command to download

In [ ]:
from src.core.utils.data_download import Downloader

dict_datasets = {
    "tripdata": "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz",
    "zones": "https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv",
}

d1 = Downloader(dict_datasets.get("tripdata"))
d1.download_file()

d2 = Downloader(dict_datasets.get("zones"))
d2.download_file()

## EDA with Pandas

In [10]:
import pandas as pd

df_trips = pd.read_csv("green_tripdata_2019-09.csv.gz")
df_zones = pd.read_csv("taxi+_zone_lookup.csv")

df_trips.head()

C:\Users\Ezequiel\AppData\Local\Temp\ipykernel_24316\3988419289.py:3: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_trips = pd.read_csv("green_tripdata_2019-09.csv.gz")

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1.0,65,189,5.0,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1.0,1.0,0.0
1,2.0,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1.0,97,225,5.0,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2.0,1.0,0.0
2,2.0,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1.0,37,61,5.0,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2.0,1.0,0.0
3,2.0,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1.0,145,112,1.0,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1.0,1.0,0.0
4,2.0,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1.0,112,198,1.0,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1.0,1.0,0.0

In [12]:
df_trips.columns

Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge'],
      dtype='object')

In [13]:
df_trips.shape

(449063, 20)

In [14]:
df_trips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 449063 entries, 0 to 449062
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               389920 non-null  float64
 1   lpep_pickup_datetime   449063 non-null  object
 2   lpep_dropoff_datetime  449063 non-null  object
 3   store_and_fwd_flag     389920 non-null  object
 4   RatecodeID             389920 non-null  float64
 5   PULocationID           449063 non-null  int64
 6   DOLocationID           449063 non-null  int64
 7   passenger_count        389920 non-null  float64
 8   trip_distance          449063 non-null  float64
 9   fare_amount            449063 non-null  float64
 10  extra                  449063 non-null  float64
 11  mta_tax                449063 non-null  float64
 12  tip_amount             449063 non-null  float64
 13  tolls_amount           449063 non-null  float64
 14  ehail_fee              0 non-null       float64
 15  improvement_surcharge  449063 non-null  float64
 16  total_amount           449063 non-null  float64
 17  payment_type           389920 non-null  float64
 18  trip_type              389920 non-null  float64
 19  congestion_surcharge   389920 non-null  float64
dtypes: float64(15), int64(2), object(3)
memory usage: 68.5+ MB

In [19]:
df_trips.dtypes

VendorID                 float64
lpep_pickup_datetime      object
lpep_dropoff_datetime     object
store_and_fwd_flag        object
RatecodeID               float64
PULocationID               int64
DOLocationID               int64
passenger_count          float64
trip_distance            float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
ehail_fee                float64
improvement_surcharge    float64
total_amount             float64
payment_type             float64
trip_type                float64
congestion_surcharge     float64
dtype: object

In [20]:
df_trips["VendorID"] = pd.to_numeric(df_trips["VendorID"])
df_trips["lpep_pickup_datetime"] = pd.to_datetime(df_trips["lpep_pickup_datetime"])
df_trips["lpep_dropoff_datetime"] = pd.to_datetime(df_trips["lpep_dropoff_datetime"])
df_trips["store_and_fwd_flag"] = df_trips["store_and_fwd_flag"]
df_trips["RatecodeID"] = pd.to_numeric(df_trips["RatecodeID"])
df_trips["PULocationID"] = pd.to_numeric(df_trips["PULocationID"])
df_trips["DOLocationID"] = pd.to_numeric(df_trips["DOLocationID"])
df_trips["passenger_count"] = pd.to_numeric(df_trips["passenger_count"])
df_trips["trip_distance"] = pd.to_numeric(df_trips["trip_distance"])
df_trips["fare_amount"] = pd.to_numeric(df_trips["fare_amount"])
df_trips["extra"] = pd.to_numeric(df_trips["extra"])
df_trips["mta_tax"] = pd.to_numeric(df_trips["mta_tax"])
df_trips["tip_amount"] = pd.to_numeric(df_trips["tip_amount"])
df_trips["tolls_amount"] = pd.to_numeric(df_trips["tolls_amount"])
df_trips["ehail_fee"] = pd.to_numeric(df_trips["ehail_fee"])
df_trips["improvement_surcharge"] = pd.to_numeric(df_trips["improvement_surcharge"])
df_trips["total_amount"] = pd.to_numeric(df_trips["total_amount"])
df_trips["payment_type"] = pd.to_numeric(df_trips["payment_type"])
df_trips["trip_type"] = pd.to_numeric(df_trips["trip_type"])
df_trips["congestion_surcharge"] = pd.to_numeric(df_trips["congestion_surcharge"])

df_trips.dtypes

VendorID                        float64
lpep_pickup_datetime     datetime64[ns]
lpep_dropoff_datetime    datetime64[ns]
store_and_fwd_flag               object
RatecodeID                      float64
PULocationID                      int64
DOLocationID                      int64
passenger_count                 float64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                    float64
trip_type                       float64
congestion_surcharge            float64
dtype: object

In [21]:
df_trips.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1.0,65,189,5.0,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1.0,1.0,0.0
1,2.0,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1.0,97,225,5.0,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2.0,1.0,0.0
2,2.0,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1.0,37,61,5.0,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2.0,1.0,0.0
3,2.0,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1.0,145,112,1.0,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1.0,1.0,0.0
4,2.0,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1.0,112,198,1.0,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1.0,1.0,0.0

In [11]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [15]:
df_zones.shape

(265, 4)

In [16]:
df_zones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LocationID    265 non-null    int64
 1   Borough       265 non-null    object
 2   Zone          264 non-null    object
 3   service_zone  263 non-null    object
dtypes: int64(1), object(3)
memory usage: 8.4+ KB

## INSERT INTO POSTGRES CONTAINER

From URL -> Pandas -> POSTGRES

In [17]:
from sqlalchemy import create_engine

db_url = "postgresql://root:root@localhost:5432/ny_db"
engine = create_engine(db_url)

In [22]:
print(pd.io.sql.get_schema(df_trips, name="green_taxi_data", con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" FLOAT(53),
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [23]:
df_trips.to_sql(name="green_taxi_data", con=engine, if_exists="replace")

63

In [26]:
print(pd.io.sql.get_schema(df_zones, name="zones", con=engine))

CREATE TABLE zones (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [27]:
df_zones.to_sql(name="zones", con=engine, if_exists="replace")

265

## ANSWERS

ANSWERS:

Q1. "docker tags": `-rm`
Q2. "python wheel package version": `0.42.0`
Q3. "How many taxi trips were totally made on September 18th 2019?": `15612`
```sql
    SELECT COUNT(1) Q_ROWS
    FROM public.green_taxi_data
    WHERE lpep_pickup_datetime >= '2019-09-18' AND lpep_dropoff_datetime < '2019-09-19'
```
Q4. "Largest trip for each day": `2019-09-26`
```sql
    SELECT lpep_pickup_datetime, max(trip_distance) as max_trip_distance
    FROM public.green_taxi_data
    group by 1
    order by 2 desc
    LIMIT 10
```
Q5. "Which were the 3 pick up Boroughs that had a sum of total_amount superior to 50000?": `"Brooklyn" "Manhattan" "Queens"`
```sql
    SELECT b."Borough" AS BOROUGH, SUM(total_amount) AS TOTAL_AMOUNT
    FROM public.green_taxi_data a
    join public.zones b
        on a."PULocationID" = b."LocationID"
    where b."Borough" <> 'Unknown'
        and a.lpep_pickup_datetime >= '2019-09-18'
        and a.lpep_pickup_datetime < '2019-09-19'
    GROUP BY BOROUGH
    HAVING SUM(total_amount) > 50000
    LIMIT 10
```
Q6. "Largest tip": `JFK Airport` (with 62.31)
```sql
    SELECT 
        a."PULocationID", 
        a."DOLocationID",
        b."Zone" as PUZone,
        c."Zone" as DOZone,
        max(a.tip_amount) as sum_tip
    FROM public.green_taxi_data a
    join public.zones b
        on a."PULocationID" = b."LocationID"
    join public.zones c
        ON a."DOLocationID" = c."LocationID"
    WHERE b."Zone" = 'Astoria'
        AND a.lpep_pickup_datetime >= '2019-09-01' and a.lpep_pickup_datetime < '2019-10-01'
    group by 1,2,3,4
    order by 5 desc
    LIMIT 100
```
Q7. "run terraform apply and paste output into homework submission form":

```terraform
    Ezequiel@LAPTOP-ASUS MINGW64 ~/OneDrive/Escritorio/repo/zoomcamp24 (feature/homewoork-w1)
    $ terraform apply

    Terraform used the selected providers to generate the following execution plan. Resource actions are indicated with the following symbols:
    + create

    Terraform will perform the following actions:

    # google_bigquery_dataset.sbox-dataset will be created
    + resource "google_bigquery_dataset" "sbox-dataset" {
        + creation_time              = (known after apply)
        + dataset_id                 = "SBOX"
        + default_collation          = (known after apply)
        + delete_contents_on_destroy = false
        + effective_labels           = (known after apply)
        + etag                       = (known after apply)
        + id                         = (known after apply)
        + is_case_insensitive        = (known after apply)
        + last_modified_time         = (known after apply)
        + location                   = "US"
        + max_time_travel_hours      = (known after apply)
        + project                    = "eze-zoomcamp24"
        + self_link                  = (known after apply)
        + storage_billing_model      = (known after apply)
        + terraform_labels           = (known after apply)
        }

    # google_storage_bucket.sbox-bucket will be created
    + resource "google_storage_bucket" "sbox-bucket" {
        + effective_labels            = (known after apply)
        + force_destroy               = true
        + id                          = (known after apply)
        + location                    = "US"
        + name                        = "zoomcamp24"
        + project                     = (known after apply)
        + public_access_prevention    = (known after apply)
        + self_link                   = (known after apply)
        + storage_class               = "STANDARD"
        + terraform_labels            = (known after apply)
        + uniform_bucket_level_access = (known after apply)
        + url                         = (known after apply)

        + lifecycle_rule {
            + action {
                + type = "AbortIncompleteMultipartUpload"
                }
            + condition {
                + age                   = 1
                + matches_prefix        = []
                + matches_storage_class = []
                + matches_suffix        = []
                + with_state            = (known after apply)
                }
            }
        }

    Plan: 2 to add, 0 to change, 0 to destroy.

    Do you want to perform these actions?
    Terraform will perform the actions described above.
    Only 'yes' will be accepted to approve.

    Enter a value: yes

    google_bigquery_dataset.sbox-dataset: Creating...
    google_storage_bucket.sbox-bucket: Creating...
    google_bigquery_dataset.sbox-dataset: Creation complete after 1s [id=projects/eze-zoomcamp24/datasets/SBOX]
    google_storage_bucket.sbox-bucket: Creation complete after 1s [id=zoomcamp24]

    Apply complete! Resources: 2 added, 0 changed, 0 destroyed.
    (zoomcamp24-py3.9)
```